[Desktop Entry]
Name=Unofficial Telegram Desktop VLESS
Comment=Unofficial Telegram Desktop fork with VLESS support
TryExec=TelegramDesktopVless
Exec=TelegramDesktopVless -- %U
Icon=app.unofficial.telegram.desktop.vless
Terminal=false
StartupWMClass=TelegramDesktopVless
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;vless;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=TelegramDesktopVless -quit
Name=Quit Unofficial Telegram Desktop VLESS
Icon=application-exit
